{% import '_includes/_macros' as siteMacros %}
{% extends '_layouts/layout_promo' %}

{% block content %}

    {% include '_modules/banner.twig' with {
        banner_type: 'promo-site'
    } %}

    <section class="module bg--slate">
        <h2 class="sr-only">Key Facts</h2>

        <div class="wrapper">
            <div class="key-facts">
                {% for i in 0..2 %}
                    <figure class="fact">
                        <div class="fact__number">
                            <span class="t-xxl">7</span>
                        </div>

                        <div class="fact__details">
                            <h3 class="t-md">Really Important Text</h3>
                            <span class="t-nm t-sea">Not so important text</span>
                        </div>
                    </figure>
                {% endfor %}
            </div>
        </div>

        {{ siteMacros.css('css/modules/block-keyfacts.css') }}
    </section>

    <section class="module">
        <div class="wrapper">
            <div class="page-container">
                <h2 class="t-xl">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <a class="btn btn--round btn--sea" href="#">Register Today</a>
            </div>
        </div>
    </section>

    <section class="module bg--sea">
        <div class="wrapper">
            <div class="icon-bar">
                {% for i in 0..2 %}
                    <figure class="icon">
                        <img src="/test/icon.svg" alt="Icon Name" loading="lazy">

                        <figcaption class="t-nm t-700">Extensive Networking Opportunities</figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>

        {{ siteMacros.css('css/modules/block-iconbar.css') }}
    </section>

    <section class="module bg--grey">
        <div class="wrapper">
            <h2 class="t-xl">World class speakers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="module">
        <div class="wrapper">
            <h2 class="t-xl">Agenda</h2>

            <article class="agenda">
                <div class="agenda__button-group">
                    <button class="btn btn--sea btn--boxy btn--sea__active">Day 1</button>
                    <button class="btn btn--sea btn--boxy">Day 2</button>
                    <button class="btn btn--sea btn--boxy">Day 3</button>
                </div>

                <div class="agenda__content">
                    <div class="agenda-item" itemscope itemtype="https://schema.org/subEvent">
                        <span class="time t-sea">
                            <svg class="gly">
                                <use xlink:href="/dist/img/glyphs.svg#clock"/>
                            </svg>

                            <time datetime="" itemprop="startDate">9:30</time> - <time datetime="" itemprop="endDate">10:00</time>
                        </span>

                        <h3 class="t-lg" itemprop="name">Welcome to Country</h3>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </article>
        </div>

        {{ siteMacros.css('css/modules/block-agenda.css') }}
    </section>

    <section class="module">
        <div class="wrapper">
            <a href="{{ networkSettings.instagramProfile }}">Follow @Barayamal3 on Instagram</a> / 
            <a href="https://curator.io" target="_blank" class="crt-logo crt-tag" rel="noopener">Powered by Curator.io</a>
        </div>

        <div id="curator-feed-default"></div>

        <script>
            (function(){
            var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
            i.src = "https://cdn.curator.io/published/d9838a23-d082-49b4-a329-3c4f3d01.js";
            e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        </script>
    </section>

{% endblock %}