{% import '_includes/_macros' as siteMacros %}
{% extends '_layouts/layout_default' %}

{% block content %}

    {# include '_modules/banner.twig' with {
        banner_type: 'slider'
    } #}

    <section class="module bg--grey">
        <div class="wrapper">
            <h2 class="t-xl t-centre">Take the next step.</h2>

            <div class="promo">
                {% for i in 0..1 %}
                    <div class="promo__block">
                        <figure class="latest-item">
                            <div class="latest-item__title">
                                <a href="#">
                                    {% include '_includes/srcset.twig' with {
                                        image_url: 'https://picsum.photos/1920/1080',
                                        image_alt: 'Hello World'
                                    } %}

                                    <h3 class="item-title">Pre-Accelerator</h3>
                                </a>

                                <span class="category category--ochre t-sm">Upcoming Program</span>
                            </div>

                            <figcaption class="latest-item__desc">
                                <p class="t-nm">{{ 'The Barayamal Pre-Accelerator is for Indigenous Australians in Victoria, which will provide training and mentoring to kick-start your entrepreneurial journey. Apply Now Is this program for you?' | chop(limit=180, unit='c', append=' ...') }}</p>
                            </figcaption>
                        </figure>

                        <a class="btn btn--icon" href="#">
                            <span class="text">All Programs</span>
                            <svg class="gly">
                                <use xlink:href="/dist/img/glyphs.svg#arrows"/>
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}