/*------------------------------------*\
  # FORMS
\*------------------------------------*/

.newsletter__email {
    @include reset-input;

    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: site-color('grey');
    color: site-color('black');
    font-size: 1rem;
}