@import '../utils/variables',
        '../utils/mixins',
        '../utils/resets',
        '../utils/placeholders';

/*------------------------------------*\
  # ICON BAR
\*------------------------------------*/

.icon-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include for-size('tablet') {
        justify-content: space-between;
    }
}

.icon {
    text-align: center;

    figcaption {
        padding: ($rhythm / 2) 0 $rhythm / 2; /* #HACK: Provide more breathing room */
    }
}