<!DOCTYPE html>
<html lang="{{ craft.app.language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0096d1">
    <meta name="msapplication-TileColor" content="#0096d1">
    <meta name="theme-color" content="#cc5128">

    <title>Barayamal</title>

    <link rel="canonical" href="">
    <link rel="alternate" title="Indigipreneur Podcast" href="{{ siteSettings.podcastFeed }}">

    <link rel="author" href="/humans.txt">
    <link rel="stylesheet" href="{{ rev('css/main.css') }}">
    <link rel="stylesheet" href="//use.typekit.net/exk0lhh.css">
</head>

<body itemscope itemtype="https://schema.org/WebPage">

    {% block layout %}
        <p><code>{% verbatim %}{% block layout %}…{% endblock %}{% endverbatim %}</code> is not set.</p>
        <p>More information on Twig's <a href="https://symfony.com/doc/3.4/templating/inheritance.html">docs</a>.</p>
    {% endblock %}

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
    <script async src="{{ rev('js/app.js') }}"></script>
</body>
</html>